*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
   
   }
   body{
    background: url("myform\ pics2.avif");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
 form {
    background-color:blue;
    border-radius: 10px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 65vh;
    width: 400px;
    margin-bottom: 100px;


}
.div{
    background-color: aquamarine;
}
h2{
    background-color:blueviolet;
    color:yellow;
    width: 220PX;
    text-align: center;
}
input,button{
    padding: 10px;
    margin: 10px 0;
    border:none ;
    border-radius: 8px;
}
button{
    background-color: aqua;
    color: #fff;
    cursor: pointer;
    height: 300px;
    width: 100PX;
}
